@use 'variables';
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: variables.$white-200;
  font-size: 1rem;
}

body,
button {
  font-family: 'Commissioner', sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.sr-only {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}
