@use 'variables';
@use 'mixins';

$success: '.modal__success';
$rewards: '.modal__rewards';

#{$success} {
  @include mixins.card-component;
  @include mixins.component-width(variables.$width-modal-success);
  @include mixins.flex-center;
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
  z-index: 30;

  img {
    width: 5.625rem;
    height: 5.625rem;

    @include mixins.mobile {
      width: 4rem;
      height: 4rem;
    }
  }

  &__title {
    margin-top: 3.25rem;

    @include mixins.mobile {
      margin-top: 1.75rem;
      font-size: 1.125rem;
    }
  }

  &__message {
    margin-top: 1.5rem;
    text-align: center;
    color: variables.$gray-400;
    line-height: 2rem;

    @include mixins.mobile {
      font-size: 0.75rem;
      line-height: 1.5rem;
    }
  }

  button {
    height: 3rem;
    width: 6.875rem;
    border: none;
    border-radius: 1.5rem;
    color: white;
    background-color: variables.$cyan-400;
    font-weight: 500;
    margin-top: 2rem;
    transition: background-color 0.3s;

    &:hover {
      background-color: variables.$cyan-600;
    }
  }
}

.overlay_success {
  @include mixins.overlay;
  z-index: 20;
}

#{$rewards} {
  @include mixins.card-component;
  @include mixins.component-width(variables.$width-content-d);
  position: absolute;
  top: 11.5625rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 30;

  &__title {
    @include mixins.mobile {
      font-size: 1.125rem;
    }
  }

  &__message {
    color: variables.$gray-400;
    margin-top: 1rem;
    line-height: 2rem;

    @include mixins.mobile {
      font-size: 0.75rem;
      line-height: 1.25rem;
    }
  }

  &__rewards {
    margin-top: 2rem;

    @include mixins.mobile {
      margin-top: 1.25rem;
    }

    .card__reward {
      position: relative;
      @include mixins.card-reward;
      display: grid;
      grid-template-areas: 'a b' 'c c' 'd d';
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr auto;
      gap: 1rem;
      transition: all 0.2s ease-out;

      @include mixins.mobile {
        display: flex;
        flex-direction: column;
      }

      .card__header {
        grid-area: a;
        display: flex;
        align-items: center;
        gap: 1rem;

        @include mixins.mobile {
          flex-direction: column;
          align-items: flex-start;
          gap: 0.5rem;
          font-size: 0.875rem;
        }

        label {
          font-weight: 700;
          display: flex;
          align-items: center;

          input {
            margin-right: 0.5rem;
            width: 1rem;
            height: 1rem;
          }
        }

        .price {
          color: variables.$cyan-400;
          @include mixins.mobile {
            margin-left: 1.5rem;
          }
        }
      }

      .card__description {
        grid-area: c;
        color: variables.$gray-400;
        line-height: 2rem;
        padding-left: 1.5rem;

        @include mixins.mobile {
          font-size: 12px;
          line-height: 1.25rem;
          padding-left: 0;
        }
      }

      .left {
        grid-area: b;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;

        strong {
          font-size: 20px;
        }

        @include mixins.mobile {
          justify-content: flex-start;
        }
      }

      .reward_form {
        grid-area: d;
        @include mixins.flex-space-between;
        gap: 1rem;
        margin-top: 2rem;
        max-height: 20rem;
        transition: all 0.3s;

        &::before {
          content: '';
          position: absolute;
          height: 1px;
          left: 0;
          right: 0;
          bottom: 6.5rem;
          background-color: variables.$gray-200;
        }

        label {
          flex: 1 1 auto;
          color: variables.$gray-400;
        }

        input {
          font-weight: 700;
          padding-left: 2.5rem;
          height: 3rem;
          width: 6.25rem;
          border-radius: 1.5rem;
          border: 1px solid variables.$gray-100;
        }

        button {
          position: relative;
          height: 3rem;
          width: 6.75rem;
          border: none;
          border-radius: 1.5rem;
          background-color: variables.$cyan-400;
          color: white;
          font-weight: 500;
          transition: background-color 0.3s;

          &:hover {
            background-color: variables.$cyan-600;
          }

          &::before {
            content: '$';
            position: absolute;
            left: -5.5rem;
            top: 50%;
            transform: translateY(-55%);
            font-size: 0.875rem;
            color: variables.$gray-200;
          }
        }
      }

      .reward_form.form--hidden {
        margin-top: 0;
        max-height: 0;
        overflow: hidden;

        &::before {
          display: none;
        }
      }
    }

    .card__reward.card__reward--active {
      border: 3px solid variables.$cyan-400;
    }
  }
}

.overlay_rewards {
  @include mixins.overlay;
  z-index: 20;
}
