$cyan-600: hsl(176, 72%, 28%);
$cyan-400: hsl(176, 50%, 47%);
$gray-400: hsl(0, 0%, 48%);
$gray-200: hsl(0, 0%, 88%);
$gray-100: hsl(0, 0%, 92%);
$white-200: hsl(0, 0%, 98%);
$black: hsl(0, 0%, 0%);

// WIDTH
$width-header-d: 70rem;
$width-content-d: 45.625rem;
$width-modal-success: 540px;
