@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-size: 1rem;
}

body,
button {
  font-family: "Commissioner", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.sr-only {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

.header {
  position: relative;
  height: 25rem;
  background: url(../images/image-hero-desktop.jpg) no-repeat;
  background-size: cover;
}
@media (max-width: 50rem) {
  .header {
    background: url(../images/image-hero-mobile.jpg) no-repeat;
    background-size: 100%;
  }
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 12.5rem;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  z-index: 10;
}
.header__navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70rem;
  width: 100%;
  margin: 0 auto;
  padding: 3rem 2rem;
  z-index: 20;
}
.header__navbar .btn__menu {
  display: none;
  width: 1.25rem;
  height: 1.25rem;
  border: none;
  background: url(../images/icon-hamburger.svg) no-repeat;
  background-size: contain;
}
@media (max-width: 50rem) {
  .header__navbar .btn__menu {
    display: block;
  }
}
.header__navbar .btn__menu.close {
  background: url(../images/icon-close-menu.svg) no-repeat;
  background-size: contain;
}
.header__navbar__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  font-weight: 500;
}
.header__navbar__menu .link {
  color: white;
}
@media (max-width: 50rem) {
  .header__navbar__menu {
    position: absolute;
    background-color: white;
    right: 2rem;
    left: 2rem;
    top: 6rem;
    border-radius: 10px;
    flex-direction: column;
    align-items: flex-start;
    transform: translateY(-500px);
    opacity: 0;
    transition: all 0.6s ease-out;
    gap: 0;
  }
  .header__navbar__menu.show {
    transform: translateY(0);
    opacity: 1;
  }
  .header__navbar__menu li {
    width: 100%;
  }
  .header__navbar__menu li .link {
    color: black;
    display: inline-block;
    padding: 1rem;
    width: 100%;
  }
  .header__navbar__menu li + li {
    border-top: 1px solid #ebebeb;
  }
}
.header .overlay {
  position: fixed;
  z-index: 10;
  inset: 0;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  backdrop-filter: blur(4px);
  transition: opacity 1s;
}

.main {
  max-width: 45.625rem;
  width: 100%;
  margin: 0 auto;
}
.main__banner {
  background-color: white;
  border-radius: 0.625rem;
  padding: 2.875rem;
  margin-bottom: 1rem;
  border: 1px solid #ebebeb;
  transform: translateY(-6.25rem);
  position: relative;
  text-align: center;
}
.main__banner::before {
  content: url(../images/logo-mastercraft.svg);
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}
.main__banner__description {
  margin-top: 1rem;
  color: #7a7a7a;
}
.main__banner__options {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__banner__options .btn {
  height: 3.5rem;
  border-radius: 1.75rem;
  border: none;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__banner__options .btn__project {
  background-color: #3cb4ac;
  color: white;
  width: 12.5rem;
}
.main__banner__options .btn__bookmark {
  width: 174px;
  justify-content: flex-start;
  color: #7a7a7a;
}
.main__banner__options .btn__bookmark img {
  margin-right: 1rem;
}

/*# sourceMappingURL=style.css.map */
