@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-size: 1rem;
}

body,
button {
  font-family: "Commissioner", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.disabled {
  opacity: 0.5;
}

.sr-only {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

.header {
  position: relative;
  height: 25rem;
  background: url(../images/image-hero-desktop.jpg) no-repeat;
  background-size: cover;
}
@media (max-width: 50rem) {
  .header {
    height: 300px;
    background: url(../images/image-hero-mobile.jpg) no-repeat;
    background-size: cover;
  }
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 12.5rem;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  z-index: 10;
}
.header__navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70rem;
  width: 100%;
  margin: 0 auto;
  padding: 3rem 2rem;
  z-index: 20;
}
@media (max-width: 50rem) {
  .header__navbar {
    width: 80%;
  }
}
@media (max-width: 50rem) {
  .header__navbar {
    padding: 3rem 0;
  }
}
.header__navbar .btn__menu {
  display: none;
  width: 1.25rem;
  height: 1.25rem;
  border: none;
  background: url(../images/icon-hamburger.svg) no-repeat;
  background-size: contain;
}
@media (max-width: 50rem) {
  .header__navbar .btn__menu {
    display: block;
  }
}
.header__navbar .btn__menu.close {
  background: url(../images/icon-close-menu.svg) no-repeat;
  background-size: contain;
}
.header__navbar__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  font-weight: 500;
}
.header__navbar__menu .link {
  color: white;
}
@media (max-width: 50rem) {
  .header__navbar__menu {
    position: absolute;
    background-color: white;
    right: 0;
    left: 0;
    top: 6rem;
    border-radius: 10px;
    flex-direction: column;
    align-items: flex-start;
    transform: translateY(-500px);
    opacity: 0;
    transition: all 0.4s ease-out;
    gap: 0;
  }
  .header__navbar__menu.show {
    transform: translateY(0);
    opacity: 1;
  }
  .header__navbar__menu li {
    width: 100%;
  }
  .header__navbar__menu li .link {
    color: black;
    display: inline-block;
    padding: 1rem;
    width: 100%;
  }
  .header__navbar__menu li + li {
    border-top: 1px solid #ebebeb;
  }
}
.header .menu__overlay {
  position: fixed;
  inset: 0;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  backdrop-filter: blur(4px);
  transition: all 0.8s;
  z-index: -1;
}

.modal__overlay {
  position: fixed;
  z-index: 20;
  inset: 0;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  backdrop-filter: blur(4px);
  transition: all 0.8s;
}

.main {
  max-width: 45.625rem;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 50rem) {
  .main {
    width: 80%;
  }
}
.main__banner {
  background-color: white;
  border-radius: 0.625rem;
  padding: 2.875rem;
  margin-bottom: 1.625rem;
  border: 1px solid #ebebeb;
  margin-top: -5.75rem;
  position: relative;
  text-align: center;
}
@media (max-width: 50rem) {
  .main__banner {
    padding: 2.5rem 1.375rem;
  }
}
@media (max-width: 50rem) {
  .main__banner {
    margin-top: -3.5rem;
  }
}
.main__banner::before {
  content: url(../images/logo-mastercraft.svg);
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}
@media (max-width: 50rem) {
  .main__banner__title {
    font-size: 1.125rem;
    padding: 0 0.625rem;
  }
}
.main__banner__description {
  margin-top: 1rem;
  color: #7a7a7a;
}
@media (max-width: 50rem) {
  .main__banner__description {
    font-size: 0.75rem;
  }
}
.main__banner__options {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.main__banner__options .btn {
  height: 3.5rem;
  border-radius: 1.75rem;
  border: none;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__banner__options .btn__project {
  background-color: #3cb4ac;
  color: white;
  width: 12.5rem;
}
.main__banner__options .btn__bookmark {
  width: 10.875rem;
  justify-content: flex-start;
  color: #7a7a7a;
}
.main__banner__options .btn__bookmark .btn__bookmark--label {
  margin: 0 1rem;
}
@media (max-width: 50rem) {
  .main__banner__options .btn__bookmark {
    width: fit-content;
  }
  .main__banner__options .btn__bookmark .btn__bookmark--label {
    margin: 0;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
}
.main__backed {
  background-color: white;
  border-radius: 0.625rem;
  padding: 2.875rem;
  margin-bottom: 1.625rem;
  border: 1px solid #ebebeb;
}
@media (max-width: 50rem) {
  .main__backed {
    padding: 2.5rem 1.375rem;
  }
}
.main__backed__result {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 50rem) {
  .main__backed__result {
    flex-direction: column;
  }
}
.main__backed__result .display {
  flex: 1 1 auto;
  position: relative;
}
@media (max-width: 50rem) {
  .main__backed__result .display {
    padding-bottom: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.main__backed__result .display p {
  font-size: 2rem;
  font-weight: 700;
}
.main__backed__result .display small {
  display: inline-block;
  color: #7a7a7a;
  margin-top: 0.625rem;
}
.main__backed__result .display + .display {
  position: relative;
  border-left: 1px solid #e0e0e0;
  padding-left: 3rem;
}
@media (max-width: 50rem) {
  .main__backed__result .display + .display {
    padding-top: 2rem;
    padding-left: 0;
    border: 0;
  }
  .main__backed__result .display + .display::before {
    content: "";
    position: absolute;
    top: 0;
    width: 5.125rem;
    height: 1px;
    background-color: #e0e0e0;
  }
}
.main__backed #range-backed {
  margin-top: 2.375rem;
  width: 100%;
}
.main__about {
  background-color: white;
  border-radius: 0.625rem;
  padding: 2.875rem;
  margin-bottom: 1.625rem;
  border: 1px solid #ebebeb;
}
@media (max-width: 50rem) {
  .main__about {
    padding: 2.5rem 1.375rem;
  }
}
@media (max-width: 50rem) {
  .main__about {
    font-size: 12px;
  }
}
.main__about h2 {
  font-size: 1.25rem;
}
@media (max-width: 50rem) {
  .main__about h2 {
    font-size: 1.125rem;
  }
}
.main__about p {
  margin-top: 2rem;
  color: #7a7a7a;
  line-height: 2rem;
}
@media (max-width: 50rem) {
  .main__about p {
    line-height: 1.5rem;
  }
}
.main__about__rewards {
  margin-top: 2rem;
}
.main__about__rewards .card__reward {
  border-radius: 0.625rem;
  padding: 1.875rem;
  margin-bottom: 1.625rem;
  border: 1px solid #e0e0e0;
}
@media (max-width: 50rem) {
  .main__about__rewards .card__reward {
    padding: 1.5rem;
  }
}
.main__about__rewards .card__reward P {
  margin: 0;
}
.main__about__rewards .card__reward .card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
@media (max-width: 50rem) {
  .main__about__rewards .card__reward .card__header {
    flex-direction: column;
    align-items: flex-start;
  }
}
.main__about__rewards .card__reward .card__header p {
  color: #3cb4ac;
  font-weight: 700;
}
@media (max-width: 50rem) {
  .main__about__rewards .card__reward .card__header p {
    margin-top: 0.5rem;
  }
}
.main__about__rewards .card__reward .card__footer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 50rem) {
  .main__about__rewards .card__reward .card__footer {
    flex-direction: column;
    align-items: flex-start;
  }
}
.main__about__rewards .card__reward .card__footer .time {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__about__rewards .card__reward .card__footer .time strong {
  color: black;
  margin-right: 0.5rem;
  font-size: 1.75rem;
}
.main__about__rewards .card__reward .card__footer .select__reward {
  height: 3rem;
  border: none;
  width: 10rem;
  border-radius: 1.5rem;
  background-color: #3cb4ac;
  color: white;
  font-weight: 500;
}
@media (max-width: 50rem) {
  .main__about__rewards .card__reward .card__footer .select__reward {
    margin-top: 2rem;
  }
}

.modal__success {
  background-color: white;
  border-radius: 0.625rem;
  padding: 2.875rem;
  margin-bottom: 1.625rem;
  border: 1px solid #ebebeb;
  max-width: 540px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
  z-index: 30;
}
@media (max-width: 50rem) {
  .modal__success {
    padding: 2.5rem 1.375rem;
  }
}
@media (max-width: 50rem) {
  .modal__success {
    width: 80%;
  }
}
.modal__success img {
  width: 5.625rem;
  height: 5.625rem;
}
@media (max-width: 50rem) {
  .modal__success img {
    width: 4rem;
    height: 4rem;
  }
}
.modal__success__title {
  margin-top: 3.25rem;
}
@media (max-width: 50rem) {
  .modal__success__title {
    margin-top: 1.75rem;
    font-size: 1.125rem;
  }
}
.modal__success__message {
  margin-top: 1.5rem;
  text-align: center;
  color: #7a7a7a;
  line-height: 2rem;
}
@media (max-width: 50rem) {
  .modal__success__message {
    font-size: 0.75rem;
    line-height: 1.5rem;
  }
}
.modal__success button {
  height: 3rem;
  width: 6.875rem;
  border: none;
  border-radius: 1.5rem;
  color: white;
  background-color: #3cb4ac;
  font-weight: 500;
  margin-top: 2rem;
}

.modal__rewards {
  background-color: white;
  border-radius: 0.625rem;
  padding: 2.875rem;
  margin-bottom: 1.625rem;
  border: 1px solid #ebebeb;
  max-width: 45.625rem;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 11.5625rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 30;
}
@media (max-width: 50rem) {
  .modal__rewards {
    padding: 2.5rem 1.375rem;
  }
}
@media (max-width: 50rem) {
  .modal__rewards {
    width: 80%;
  }
}
@media (max-width: 50rem) {
  .modal__rewards__title {
    font-size: 1.125rem;
  }
}
.modal__rewards__message {
  color: #7a7a7a;
  margin-top: 1rem;
  line-height: 2rem;
}
@media (max-width: 50rem) {
  .modal__rewards__message {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}
.modal__rewards__rewards {
  margin-top: 2rem;
}
@media (max-width: 50rem) {
  .modal__rewards__rewards {
    margin-top: 1.25rem;
  }
}
.modal__rewards__rewards .card__reward {
  border-radius: 0.625rem;
  padding: 1.875rem;
  margin-bottom: 1.625rem;
  border: 1px solid #e0e0e0;
  display: grid;
  grid-template-areas: "a b" "c c";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  transition: all 0.2s ease-out;
}
@media (max-width: 50rem) {
  .modal__rewards__rewards .card__reward {
    padding: 1.5rem;
  }
}
@media (max-width: 50rem) {
  .modal__rewards__rewards .card__reward {
    display: flex;
    flex-direction: column;
  }
}
.modal__rewards__rewards .card__reward .card__header {
  grid-area: a;
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 50rem) {
  .modal__rewards__rewards .card__reward .card__header {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    font-size: 0.875rem;
  }
}
.modal__rewards__rewards .card__reward .card__header label {
  font-weight: 700;
  display: flex;
  align-items: center;
}
.modal__rewards__rewards .card__reward .card__header label input {
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
}
.modal__rewards__rewards .card__reward .card__header .price {
  color: #3cb4ac;
}
@media (max-width: 50rem) {
  .modal__rewards__rewards .card__reward .card__header .price {
    margin-left: 1.5rem;
  }
}
.modal__rewards__rewards .card__reward .card__description {
  grid-area: c;
  color: #7a7a7a;
  line-height: 2rem;
  padding-left: 1.5rem;
}
@media (max-width: 50rem) {
  .modal__rewards__rewards .card__reward .card__description {
    font-size: 12px;
    line-height: 1.25rem;
    padding-left: 0;
  }
}
.modal__rewards__rewards .card__reward .left {
  grid-area: b;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}
.modal__rewards__rewards .card__reward .left strong {
  font-size: 20px;
}
@media (max-width: 50rem) {
  .modal__rewards__rewards .card__reward .left {
    justify-content: flex-start;
  }
}
.modal__rewards__rewards .card__reward.card__reward--active {
  border: 3px solid #3cb4ac;
}

/*# sourceMappingURL=style.css.map */
